name: Go-Build
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go 1.19
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Install buildDeps and generate sources
        run: |
          export PATH=$HOME/go/bin:$PATH
          make buildDeps generate

      - name: Run Tests
        run: |
          export PATH=$GOPATH/bin:$HOME/go/bin:$PATH
          timeout 10m make test
