name: Go-Build
on: [ push ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6.0.0

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod

      - name: Install buildDeps and generate sources
        run: |
          export PATH=$HOME/go/bin:$PATH
          make buildDeps generate

      - name: Run Tests
        run: |
          export PATH=$HOME/go/bin:$PATH:$GOPATH/bin
          timeout 10m make test

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v5.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
